<template>
  <section class="Storage">
    <h2>Passo 4</h2>
    <form v-on:submit.prevent="sendData">
      <legend>
        A <strong class="fuxico">Fuxico</strong> vem por padrão com <strong class="upper">pitacos</strong>, ou seja, alguns materiais que separamos para você.
        <br><br>
        <strong class="upper">Opcional:</strong>
        Caso não queira algum dos temas, <strong>desmarque</strong> abaixo:
      </legend>
      
      <div>
        <label for="seg">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="seg" value="seguranca-digital" checked="checked">
          Segurança digital
        </label>
      </div>
      <div>
        <label for="fem">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="fem" value="feminismo" checked="checked">
          Feminismo
        </label>
      </div>
      <div>
        <label for="auto">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="auto" value="autonomia" checked="checked">
          Autonomia: Faça você mesma
        </label>
      </div>
      <div>
        <label for="sex">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="sex" value="sexualidade" checked="checked">
          Sexualidade
        </label>
      </div>
      <div>
        <label for="dicas">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="dicas" value="dicas-sustentabilidade" checked="checked">
          Dicas de editais e sustentabilidade
        </label>
      </div>
      <div>
        <label for="tec">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="tec" value="tenologias-digitais" checked="checked">
          Tecnologias digitais
        </label>
      </div>
      <div>
        <label for="saude">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="saude" value="saude" checked="checked">
          Saúde
        </label>
      </div>
      <div class="last">
        <label for="eco">
          <input type="checkbox" v-model="sementeira" name="sementeira" id="eco" value="agroecologia" checked="checked">
          Agroecologia
        </label>
      </div>
      <button :disabled="!isFormValid">
        Próximo
      </button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { WizardState } from '../models/wizard-state';

@Component({})
export default class Sementeira extends Vue {

  private isFormValid: boolean = false;
  private sementeira: string [] = [];
  private wizardData = this.$root.$data as WizardState;

  private mounted() {
    this.sementeira = this.wizardData.sementeira;
  }

  private updated() {
    if (this.sementeira) {
      this.isFormValid = true;
    }
  }

  private sendData() {
    const wizardData = this.$root.$data as WizardState;
    wizardData.sementeira = this.sementeira;
    this.$router.push('step5');
  }
}
</script>

<style scoped lang="scss">
.last {
  margin-bottom: 1em;
}
</style>