<template>
  <section class="SkeletonKey">
    <h2>Passo 2</h2>
    <form v-on:submit.prevent="nextStep">
      <legend>Escolha uma senha mestra para gerenciar arquivos:</legend>
      <Password :data="wizardData.skeletonKey" :eventName="eventName"></Password>
      <aside v-bind:class="{ slideDown: isFormValid }">
        É importante que ela seja diferente da senha de sistema. Esta senha é a que você usará no dia a dia, para apagar conteúdos indesejados.
      </aside>
      <button :disabled="!isFormValid" ref="nextButton">
        Próximo
      </button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PasswordComponent from '@/components/Password.vue';
import { WizardState } from '../models/wizard-state';
import { PasswordEvent } from '../models/password-event';
import EventBus from '../eventBus';

@Component({
  components: {
    Password: PasswordComponent,
  },
})
export default class SkeletonKey extends Vue {
  private isFormValid: boolean = false;
  private eventName: string = 'skeletonKey';
  private wizardData = this.$root.$data as WizardState;

  private mounted() {
    EventBus.$on(this.eventName, (payload: PasswordEvent) => {
      this.isFormValid = payload.valid;
      this.wizardData.skeletonKey = payload.password;
    });
  }

  private updated() {
    const btn = this.$refs.nextButton as HTMLButtonElement;
    btn.focus();
  }

  private nextStep() {
    this.$router.push('step3');
  }
}
</script>
