<template>
  <section class="Storage">
    <h2>Passo 3</h2>
    <form v-on:submit.prevent="sendData">
      <legend>Escolha onde serão armazenados os arquivos enviados para a <strong class="fuxico">Fuxico</strong></legend>
      
      <div class="options">
        <div>
          <label for="sd">
            <input type="radio" v-model="storage" name="storage" id="sdcard" value="sd" autofocus>
            Armazenamento SD interno da <strong class="fuxico">Fuxico</strong>.
          </label>
        </div>
        <div>
          <label for="usb">
            <input type="radio" v-model="storage" name="storage" id="usb" value="usb">
            USB conectado à <strong class="fuxico">Fuxico</strong>.
          </label>
        </div>
        <div>
          <label for="both">
            <input type="radio" v-model="storage" name="storage" id="both" value="both">
            Cartão SD mais um USB conectado à <strong class="fuxico">Fuxico</strong>.
          </label>
        </div>
      </div>
      
      <aside v-bind:class="{ slideDown: isFormValid }">
        Se você escolher USB lembre-se que o pen drive ou HD externo deve permanecer sempre conectado na <strong class="fuxico">Fuxico</strong>.
      </aside>
      
      <button :disabled="!isFormValid">
        Próximo
      </button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { WizardState } from '../models/wizard-state';

@Component({})
export default class Storage extends Vue {

  private isFormValid: boolean = false;
  private storage: string = '';
  private wizardData = this.$root.$data as WizardState;

  private mounted() {
    this.storage = this.wizardData.storage;
  }

  private updated() {
    if (this.storage) {
      this.isFormValid = true;
    }
  }

  private sendData() {
    const wizardData = this.$root.$data as WizardState;
    wizardData.storage = this.storage;
    this.$router.push('step4');
  }
}
</script>

<style scoped lang="scss">
.options {
  background-color: white;
  position: relative;
  z-index: 1;
}
</style>