<template>
  <section class="Terms">
    <h1>
      Aviso legal do <strong class="fuxico">Fuxico</strong>!
    </h1>
    <div class="textTerms">O projeto é Fuxico e publicado com uma licença que permite a venda por empresas sem a necessidade de pagar royalties ou obrigação de contribuir para a comunidade.<br>
    As placas e kits oferecidos no comércio, são de responsabilidade das empresas que estão comercializado. Assim como o valor e negociação deve ser feito com eles. Qualquer material comercializado, oficinas, e projetos feitos com o Fuxico são de responsabilidade das pessoas e empresas que estão a frente da negociação.<br> 
    Nós tentaremos ficar em cima para manter a qualidade e metodologia de aplicação do projeto, porém não podemos garantir que as mesmas sejam garantidas. Sendo assim, caso tenha algum problema, antes de atacar o projeto Fuxico ou os seus idealizadores, verifique se não foi um problema da empresa ou responsável a frente da atividade.<br>
    O projeto está em constante atualização, e está só no começo. Fica o convite para qualquer pessoa que queira colaborar, aprender, criar novas placas, para interagir na comunidade. Apesar de ser um projeto de hardware, diversas áreas podem somar para o projeto.
    </div>
    <form v-on:submit.prevent="nextStep">
      <label>
        <input v-on:click="aceptTerms" type="checkbox" />
        <span>Aceito os termos de condições</span>
      </label>
      <button :disabled="!isFormValid" ref="nextButton">Aceitar</button>
    </form>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PasswordComponent from "@/components/Password.vue";
import { WizardState } from "../models/wizard-state";
import { PasswordEvent } from "../models/password-event";
import EventBus from "../eventBus";

@Component({
  name: "Terms",
  components: {
    Password: PasswordComponent
  }
})
export default class Terms extends Vue {
  private isFormValid: boolean = false;
  private wizardData = this.$root.$data as WizardState;

  private updated() {
    const btn = this.$refs.nextButton as HTMLButtonElement;
    btn.focus();
  }

  private nextStep() {
    this.$router.push("step1");
  }

  private aceptTerms() {
    this.isFormValid = !this.isFormValid;
  }

}
</script>
