<template>
  <nav class="steps container">
    <ol>
      <li>
        <router-link to="/" class="syskey active" title="Senha de sistema">
          <span>Senha de sistema</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 55"><path fill="none" d="M0 0h44v44H0z"/>
          <path fill="none" stroke="#000" stroke-width="3"  stroke-linecap="round" stroke-linejoin="round"  stroke-miterlimit="10" d="M31 37H13c-2.2 0-4-1.8-4-4V19c0-2.2 1.8-4 4-4h18c2.2 0 4 1.8 4 4v14c0 2.2-1.8 4-4 4zM31 15c-.3-4.7-4.2-8.4-9-8.4s-8.6 3.7-9 8.4"/><path d="M22 30c-1.1 0-2-.9-2-2v-4c0-1.1.9-2 2-2s2 .9 2 2v4c0 1.1-.9 2-2 2z"/><text y="59" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Fengquan Li</text><text y="64" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
        </router-link>
      </li>
      <li>
        <router-link to="/step2" class="skeleton" title="Senha mestra">
          <span>Senha mestra</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M26.515 52.913a1.879 1.879 0 0 0-2.448-1.018l-1.299.535v-1.404a1.876 1.876 0 0 0-3.75 0v1.762l-1.703-.455c-1-.271-2.028.326-2.296 1.326a1.872 1.872 0 0 0 1.325 2.295l1.592.428-.886 1.389a1.875 1.875 0 1 0 3.161 2.016l.887-1.389 1.057 1.264a1.872 1.872 0 0 0 2.641.234 1.877 1.877 0 0 0 .233-2.643l-1.059-1.264 1.524-.627a1.876 1.876 0 0 0 1.021-2.449zM41.151 52.913a1.879 1.879 0 0 0-2.449-1.018l-1.299.535v-1.404a1.876 1.876 0 0 0-3.75 0v1.762l-1.704-.455a1.872 1.872 0 0 0-2.295 1.326 1.872 1.872 0 0 0 1.326 2.295l1.592.426-.887 1.391a1.876 1.876 0 0 0 1.579 2.883c.618 0 1.224-.305 1.583-.865l.886-1.391 1.058 1.264a1.872 1.872 0 0 0 2.641.234 1.879 1.879 0 0 0 .234-2.643l-1.059-1.264 1.524-.627a1.873 1.873 0 0 0 1.02-2.449zM55.787 52.913a1.878 1.878 0 0 0-2.448-1.018l-1.299.535v-1.404a1.876 1.876 0 0 0-3.75 0v1.762l-1.702-.455a1.874 1.874 0 1 0-.972 3.621l1.592.426-.886 1.391a1.875 1.875 0 0 0 3.161 2.018l.887-1.391 1.06 1.264a1.876 1.876 0 1 0 2.873-2.409l-1.057-1.264 1.523-.627a1.873 1.873 0 0 0 1.018-2.449z"/><path d="M74.184 44.768h-8.535v-4.823c0-1.768 1.866-3.205 4.162-3.205h.174c2.295 0 4.161 1.438 4.161 3.205 0 1.037.839 1.875 1.875 1.875s1.875-.838 1.875-1.875c0-3.834-3.549-6.955-7.911-6.955h-.174c-4.362 0-7.912 3.121-7.912 6.955v5.991a6.526 6.526 0 0 0-2.827 5.368v8.574c0 1.002.244 1.939.649 2.789H19.194c-4.081 0-7.4-3.32-7.4-7.4s3.319-7.4 7.4-7.4h34.853a1.874 1.874 0 1 0 0-3.749H19.194c-6.148 0-11.15 5.001-11.15 11.149s5.002 11.15 11.15 11.15h55.634c.266 0 .518-.057.747-.156 2.936-.641 5.144-3.256 5.144-6.383v-8.574a6.543 6.543 0 0 0-6.535-6.536zm2.785 15.11a2.79 2.79 0 0 1-2.779 2.789h-8.585a2.792 2.792 0 0 1-2.783-2.789v-8.574a2.793 2.793 0 0 1 2.789-2.787h8.573a2.79 2.79 0 0 1 2.785 2.787v8.574z"/><path d="M69.896 51.929a1.874 1.874 0 0 0-1.875 1.875v3.309a1.876 1.876 0 0 0 3.75 0v-3.309a1.873 1.873 0 0 0-1.875-1.875z"/><text y="106" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by BomSymbols</text><text y="111" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
        </router-link>
      </li>
      <li>
        <router-link to="/step3" class="storage" title="Armazenamento">
          <span>Armazenamento</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M44.65 93.32h10.7a15 15 0 0 0 15-15V32.48a1 1 0 0 0-1-1h-6.66V7.68a1 1 0 0 0-1-1H38.31a1 1 0 0 0-1 1v23.8h-6.66a1 1 0 0 0-1 1v45.84a15 15 0 0 0 15 15zM39.31 8.68h21.38v22.8H39.31zm-7.66 24.8h36.7v44.84a13 13 0 0 1-13 13h-10.7a13 13 0 0 1-13-13z"/><path d="M46.26 13.22a1 1 0 0 0-1 1v9.73a1 1 0 0 0 2 0v-9.73a1 1 0 0 0-1-1zM53.74 13.22a1 1 0 0 0-1 1v9.73a1 1 0 1 0 2 0v-9.73a1 1 0 0 0-1-1zM46.83 82.32h6.33a5.75 5.75 0 0 0 0-11.5h-6.33a5.75 5.75 0 0 0 0 11.5zm0-9.5h6.33a3.75 3.75 0 0 1 0 7.5h-6.33a3.75 3.75 0 0 1 0-7.5z"/><text y="115" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by krishna</text><text y="120" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
        </router-link>
      </li>
      <li>
        <router-link to="/step4" class="sementeira" title="Sementeira">
          <span>Sementeira</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 160"><path d="M9.2 32.5l14.5 40.7 2.7-2c1.5-1.1 3.7-1.4 5.2-.8 1.2.6 1.9 1.6 1.6 2.9l-.6 3.3 3.3-.3c.7-.1 3-.2 4.8 1.2 1.6 1.2 1.7 2.9 1.7 3.4l-.1 3.3 3.2-.9c.5-.2 3.4-.8 5.7.5 1.7 1 2.2 2.5 2.3 3.1l.5 2.9 66.6-24L97.2.8l-88 31.7zm48.3 50.8c-.7-1.3-1.8-2.7-3.8-3.8-2-1.1-4.1-1.5-5.8-1.5h-1c-.5-1.5-1.4-3.2-3.2-4.6-1.9-1.5-4-2-5.7-2.2-.5-2.3-2.1-4.3-4.5-5.4-2.2-1-4.9-1-7.3-.2l-10.7-30L94.2 7.2l20.1 55.7-56.8 20.4z"/><path d="M68.1 45.7c-1.1-.5-2.4-.6-3.6-.2-2.5.9-3.7 3.6-2.8 6 .4 1.2 1.3 2.1 2.4 2.7.6.3 1.3.5 2 .5.5 0 1.1-.1 1.6-.3 2.5-.9 3.7-3.6 2.8-6-.4-1.2-1.3-2.1-2.4-2.7zm-1.8 4.4c0 .1-.1.1-.2.1h-.2c-.1 0-.1-.1-.1-.2-.1-.1 0-.3.2-.4h.2c.1 0 .1.1.1.2s.1.2 0 .3z"/><path d="M79.1 47.6c1.1-3.1.6-6.5-1.5-9-2.5-3-6.7-3.8-10.3-2.4-2.3-2.2-5.7-3.1-8.7-2.1-2.1.7-3.8 2.4-4.8 4.5-.6 1.5-.9 3.1-.7 4.7-3 1.8-4.8 5.2-4.3 8.8.5 3.7 3.4 6.6 6.9 7.3.8 3.4 3.6 6.1 7.2 6.7.5.1.9.1 1.4.1 2.9 0 5.6-1.5 7.2-3.8 3.4.6 6.9-.8 8.8-3.6 1.3-1.9 1.7-4.4 1.2-6.7-.3-1.8-1.1-3.3-2.4-4.5zM76.3 56c-1 1.5-3.1 2-4.9 1.1l-2.5-1.2-.9 2.7c-.6 1.7-2.4 2.9-4.2 2.6-1.9-.3-3.3-2-3.2-4l.1-2.9-2.8.3c-1.9.2-3.7-1.2-4-3.1-.3-1.9 1-3.7 2.9-4.2l2.9-.7-1.2-2.8c-.5-1-.5-2.1 0-3.2.4-.9 1-1.5 1.8-1.8 1.5-.5 3.3.3 4.2 1.8l1.4 2.5 2.3-1.7c1.8-1.3 4.3-1.1 5.7.4 1.1 1.3 1.2 3.4.1 5L72.5 49l2.3 1.4c1 .6 1.7 1.5 2 2.7.2 1.1 0 2.1-.5 2.9zM16.3 105.6c-5.4 1.7-7.5 6.3-8 7.7l-.8 2 1.9 1.1c.4.2 2.9 1.5 6.1 1.5 1.6 0 3.5-.3 5.3-1.3 4.3-2.3 5.6-6.4 6-7.6l.5-2.1-2-.8c-1.7-.8-5.1-1.8-9-.5zm2.1 6.5c-1.5.8-3 .8-4.1.7.8-.9 1.9-1.9 3.5-2.4 1.1-.3 2.1-.4 3-.3-.6.6-1.3 1.4-2.4 2zM43.8 94.5l-.7-2-2.1.3c-1.8.3-5.2 1.3-7.8 4.4-3.6 4.3-3 9.3-2.7 10.8l.4 2.1 2.2-.1c.7 0 6.6-.5 9.8-5.9 2.4-4.2 1.3-8.4.9-9.6zm-5.3 7.1c-.8 1.4-2.1 2.3-3.2 2.8.2-1.2.6-2.7 1.7-4 .7-.9 1.5-1.4 2.3-1.9 0 1-.2 2.1-.8 3.1zM56.6 110.8h-2.2c-1.8 0-5.3.4-8.4 3-4.3 3.7-4.5 8.7-4.5 10.2v2.2l2.2.3c.1 0 .5.1 1.1.1 2.1 0 6.4-.5 9.5-4.2 3.1-3.7 2.8-8.1 2.6-9.3l-.3-2.3zm-6.1 8.3c-1.1 1.3-2.4 1.9-3.6 2.2.4-1.2 1-2.5 2.3-3.6.9-.7 1.8-1.2 2.6-1.4-.1.8-.5 1.8-1.3 2.8z"/><text y="143" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by SBTS</text><text y="148" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
        </router-link>
      </li>
      <li>
        <router-link to="/step5" class="netkey" title="Senha de rede">
          <span>Senha de rede</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.615 78.5a9 9 0 1 1 0-18 9 9 0 0 1 0 18zm0-4a5 5 0 1 0 0-10 5 5 0 0 0 0 10zM14.398 44.942a3.5 3.5 0 1 1-4.565-5.306C22.664 28.596 35.875 23 49.396 23c13.495 0 26.998 5.574 40.462 16.58a3.5 3.5 0 1 1-4.43 5.419C73.136 34.952 61.14 30 49.396 30c-11.72 0-23.363 4.93-34.998 14.942zm14.913 13.284a3.5 3.5 0 0 1-4.39-5.452C32.96 46.299 41.283 43 49.82 43c8.513 0 17.002 3.28 25.421 9.72a3.5 3.5 0 1 1-4.253 5.56C63.72 52.72 56.68 50 49.82 50c-6.836 0-13.65 2.7-20.51 8.226z" fill="#000" fill-rule="nonzero"/><text y="115" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Mohammad Iqbal</text><text y="120" font-size="5" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
        </router-link>
      </li>
    </ol>
  </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
  name: 'NavSteps',
})
export default class NavSteps extends Vue {
  @Prop() private step!: string;
}
</script>

<style scoped lang="scss">
.steps {
  border-bottom: 1px solid silver;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
  }

  li {
    overflow: hidden;
  }

  li span {
    color: transparent;
    display: block;
    height: 0;
    text-indent: -9999em;
    width: 0;
  }

  a {
    background-color: white;
    border: 2px solid currentColor;
    border-radius: 50%;
    color: skyblue;
    cursor: pointer;
    display: block;
    overflow: hidden;

    .active,
    &:hover,
    &:active {
      background-color: skyblue;
      border-color: #eee;
      color: white;
    }
  }
}

svg {
  fill: currentColor;
  height: 40px;
  width: auto;

  text {
    display: none;
  }
}

.syskey svg {
  transform: scale(1.1) translate(6px,6px);
  
  path[stroke] {
    stroke: currentColor;
  }
}

.skeleton svg {
  transform: scale(1.2) translate(4px,1px);
}

.storage svg {
  transform: translate(2px, 2px);
  stroke-width: 2;
  stroke: currentColor;
}

.sementeira svg {
  transform: translate(7px, 7px);
  stroke-width: 2;
  stroke: currentColor;
}

.netkey svg {
  transform: translate(3px,2px);
  
  path {
    fill: currentColor;
  }
}
</style>
